<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431191471451-kkqg9toocog5fh76ije5f4nhfrpoh7rg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431191471451-kkqg9toocog5fh76ije5f4nhfrpoh7rg</string>
	<key>API_KEY</key>
	<string>AIzaSyCugUkzG_vboKaSkDtl34YVJ_3HL1j-PnM</string>
	<key>GCM_SENDER_ID</key>
	<string>431191471451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stage</string>
	<key>PROJECT_ID</key>
	<string>stage-209a8</string>
	<key>STORAGE_BUCKET</key>
	<string>stage-209a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431191471451:ios:b432fdb1e11254f109d67e</string>
</dict>
</plist>